* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
}

.center {
  padding-left: calc(50% - 550px);
  padding-right: calc(50% - 550px);
}

.header {
  height: 120px;
  background-color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__menu {
  width: 782px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header__logo {
  font-size: 36px;
  font-weight: 700;
  font-weight: bold;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
}
.header__main-menu {
  font-size: 15px;
  font-weight: 700;
  font-weight: bold;
  line-height: 150%;
  text-transform: uppercase;
  color: #000;
}

.burger-checkbox {
  display: none;
}
.burger-checkbox:checked + .burger::before {
  top: 9px;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-box-shadow: 0 9px 0 rgba(0, 0, 0, 0);
          box-shadow: 0 9px 0 rgba(0, 0, 0, 0);
  -webkit-transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: top 0.3s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s;
  transition: box-shadow 0.15s, top 0.3s, transform 0.3s 0.15s, -webkit-box-shadow 0.15s, -webkit-transform 0.3s 0.15s;
}
.burger-checkbox:checked + .burger::after {
  bottom: 9px;
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, -webkit-transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s;
  transition: bottom 0.3s, transform 0.3s 0.15s, -webkit-transform 0.3s 0.15s;
}

.burger {
  cursor: pointer;
  display: block;
  position: relative;
  border: none;
  background: transparent;
  width: 52px;
  height: 20px;
}
.burger::before, .burger::after {
  content: "";
  left: 0;
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  border-radius: 10px;
  background: #000;
}
.burger::before {
  top: 0;
  -webkit-box-shadow: 0 9px 0 #000;
          box-shadow: 0 9px 0 #000;
  -webkit-transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: top 0.3s 0.15s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s;
  transition: box-shadow 0.3s 0.15s, top 0.3s 0.15s, transform 0.3s, -webkit-box-shadow 0.3s 0.15s, -webkit-transform 0.3s;
}
.burger::after {
  bottom: 0;
  -webkit-transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, -webkit-transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s;
  transition: bottom 0.3s 0.15s, transform 0.3s, -webkit-transform 0.3s;
}

.hidden-menu {
  -webkit-transform: translateY(-150%);
      -ms-transform: translateY(-150%);
          transform: translateY(-150%);
  z-index: -1;
  top: 120px;
  left: 0;
  right: 0;
  width: 100%;
  position: absolute;
  background-color: #011126;
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
  color: white;
}
.hidden-menu__bottom {
  height: 100px;
  border-top: 1px solid white;
}
.hidden-menu__left {
  font-size: 60px;
  font-weight: 500;
  width: 513px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border-right: 1px solid white;
  padding-left: 64px;
  padding-right: 64px;
  gap: 20px;
}
.hidden-menu__main-menu {
  color: white;
}

.burger-checkbox:checked ~ .hidden-menu {
  -webkit-transform: translateY(0);
      -ms-transform: translateY(0);
          transform: translateY(0);
  -webkit-transition: all 0.8s ease;
  transition: all 0.8s ease;
}

.main-content {
  z-index: -2;
  position: relative;
  height: calc(100vh - 120px);
  background-color: aquamarine;
}