.burger-checkbox {
   display: none;

   &:checked ~ .hidden-menu {
      transform: translateY(0);
      transition: all 0.8s ease;
   }

   &:checked + .burger::before {
      top: 9px;
      transform: rotate(45deg);
      box-shadow: 0 9px 0 rgba(0, 0, 0, 0);
      transition:
         box-shadow 0.15s,
         top 0.3s,
         transform 0.3s 0.15s;
   }

   &:checked + .burger::after {
      bottom: 9px;
      transform: rotate(-45deg);
      transition:
         bottom 0.3s,
         transform 0.3s 0.15s;
   }
}

.burger {
   cursor: pointer;
   display: block;
   position: relative;
   border: none;
   background: transparent;
   width: 52px;
   height: 20px;

   &::before,
   &::after {
      content: "";
      left: 0;
      position: absolute;
      display: block;
      width: 100%;
      height: 2px;
      border-radius: 10px;
      background: #000;
   }

   &::before {
      top: 0;
      box-shadow: 0 9px 0 #000;
      transition:
         box-shadow 0.3s 0.15s,
         top 0.3s 0.15s,
         transform 0.3s;
   }

   &::after {
      bottom: 0;
      transition:
         bottom 0.3s 0.15s,
         transform 0.3s;
   }
}
