* {
   margin: 0;
   padding: 0;
}

body {
   font-family: "Roboto", sans-serif;
}

a {
   text-decoration: none;
}

.header {
   z-index: 2;
   height: 120px;
   position: relative;
   background-color: white;
   display: flex;
   justify-content: space-between;
   align-items: center;
   padding-left: 60px;
   padding-right: 60px;

   &__menu {
      width: 782px;
      display: flex;
      justify-content: space-between;
   }

   &__logo {
      font-size: 36px;
      font-weight: 700;
      font-weight: bold;
      line-height: 150%;
      text-transform: uppercase;
      color: #000;
   }

   &__main-menu {
      font-size: 15px;
      font-weight: 700;
      font-weight: bold;
      line-height: 150%;
      text-transform: uppercase;
      color: #000;
      &:hover {
         color: red;
         transition: all 0.3s ease;
      }
   }
}

.hidden-menu {
   z-index: 1;
   transform: translateY(-130%);
   top: 120px;
   left: 0;
   right: 0;
   width: 100%;
   position: absolute;
   background-color: #011126;
   transition: all 0.8s ease;
   color: white;

   &__bottom {
      height: 100px;
      border-top: 1px solid white;
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 65px;
      padding-left: 64px;
      color: #f5f5f5;
   }

   &__top {
      display: flex;
   }

   &__left {
      font-size: 60px;
      font-weight: 500;
      width: 513px;
      min-width: 513px;
      display: flex;
      flex-direction: column;
      border-right: 1px solid white;
      padding-left: 64px;
      padding-right: 60px;
      padding-top: 81px;
      padding-bottom: 81px;
      gap: 20px;
   }

   &__right {
      width: 100%;
      display: flex;
      flex-direction: column;
      font-size: 24px;
      font-weight: 500;
      padding-left: 94px;
      padding-top: 92px;
      gap: 20px;
   }

   &__main-menu {
      color: white;
      display: flex;
      justify-content: space-between;
      &:hover {
         color: red;
         transition: all 0.3s ease;
      }
   }

   &__child-menu {
      color: white;
      display: flex;
      justify-content: space-between;
      &:hover {
         color: red;
         transition: all 0.3s ease;
      }
   }
}

.del {
   display: none;
}

.notDel {
   display: block;
}

.main-content {
   position: relative;
   height: calc(100vh - 120px);
   background-color: aquamarine;
}
